.idea/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
*.exe
*.exe.manifest
*.dll
*.pdb
*.o
*.a
*.lib
*.so
*.dylib
*.tmp
*.log
.DS_Store
Thumbs.db
*.dSYM/
